body{
    background-image: url("images/background.png");
    background-color: #242424;
    flex-direction: column;
    display: flex;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0%;
    &::-webkit-scrollbar {
        display: none;
      }
}
#logo
{
   display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    align-items: center;
    height: 100vh;
    font-family: "comicBlock";
    font-size: 20vw;
    z-index: 2;
    color: #fff;
}
.infoclub p{
    font-size: 3vw;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 50px;
    padding-bottom: 0%;
}
.logonav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4vw;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 5vw;
    color: #fff;
    transition: 0.4s;
    align-items: right;
    padding: 20px;
    font-family: "comicBlock";
}
.Content{
    flex:1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4vw;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 4vw;
    color: #fff;
    transition: 0.4s;
    align-items: right;
    padding: 20px;
    font-family: "comicBlock";
}
.navbar a{
    text-decoration: none;
    color: #fff;
    padding: 16px;
    height: 100vh;
    &:hover{
        color:#ff90fb;
    }
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 3vw;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 40px;
    text-align: right;
    color: #fff;
    transition: 0.4s;
    align-items: right;
    padding: 20px;
    font-family: "comicBlock";
    background-color: #242424;
    flex: 1;
    width: 100vw;
    visibility: collapse;
}
svg{
    margin-left: auto;
    visibility: hidden;
}
.sidebar a{
    text-decoration: none;
    color: #fff;
    &:hover{
        color: red;
    }
}
.polygon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-52 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 23px 40px 23px;
    outline: 0;
    color:white;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color:#435cda;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    align-items: center;
    justify-content: center;
  }
  
  .button-52:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-52:hover:after {
    top: 0px;
    left: 0px;
  }
  .theTeam{
    background-color:#f86bf2;
    &::after{
        background-color: #435cda;
    }
  }
  .Events{
    background-color:#435cda;
    &::after{
        background-color: #f86bf2;
    }
  }
  .infoclub{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vw;
  }
  .infoclub p{
    margin:0px;
  }
  .whoarewe,.whatarewe{
    margin: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex:1;
    color: #fff;
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .whoarewe h1{
    margin-top: 100px;
    font-size: 64px;
    margin-bottom: 0%;
    letter-spacing: 1px;
  }
    .whoarewe p{
        font-size: 24px;
        letter-spacing: 1px;
        width:700px;
        text-align: center;
    }
    .whatarewe h1{
        font-size: 64px;
    margin-bottom: 0%;
    letter-spacing: 1px;
  }
    .whatarewe p{
        font-size: 24px;
        letter-spacing: 1px;
        width:700px;
        text-align: center;
    }
.theLore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex:1;
    color: #fff;
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.theLore h1{
    margin-top: 100px;
    font-size: 64px;
    margin-bottom: 0%;
    letter-spacing: 1px;
}
.carousel{
    display: flex;
    flex-direction: row;
    margin: 20px;
    color: #fff;
    overflow: hidden;
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.scroll-container { 
    margin-left: 40px;
    width: 100%;
    display: flex;
    height: 600px;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
      }
  }
.loreItem{
    flex:0 0 auto;
    display: flex;
    flex-direction: column;
    border:4px solid #fff;
    margin: 20px;
    margin-right: 0px;
    border-radius: 10px;
    height: 513px;
    width: 590px;
    gap:30px;
}
.loreItem h3{
    font-size: 32px;
    align-items: right;
    margin: 20px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    text-align: right;
}
.loreItem p{
    font-size: 24px;
    margin: 20px;
    margin-top: 0px;
    letter-spacing: 1px;
    text-align: center;
 }
 .loreItem img{
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.chooseyourhero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex:1;
    color: #fff;
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.chooseyourhero h1{
    margin-top: 100px;
    font-size: 64px;
    margin-bottom: 0%;
    letter-spacing: 1px;
}
.galleryppl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
@font-face {
    font-family: 'comicBlock';
    src: url(Fonts/comic-block/Comic\ Block\ \ DEMO\ by\ Marta\ van\ Eck.ttf);
}
@media (max-width: 600px) {
    *{
        font-size: 60px;
    }
    .navbar {
      visibility: hidden;
    }
    .logonav{
        visibility: visible;
        font-size: 60px;
    }
    svg{
        visibility: visible;
    }
    .Content{
        grid-template-columns: 1fr;
        grid-row-gap:50px ;
    }
    .polygon img {
        width: 80%;
        height: 100%;
    }
  }