html{
    scroll-behavior: smooth;
}
body{
    background-image: url("images/background.png");
    background-color: #111111;
    flex-direction: column;
    display: flex;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0%;
    &::-webkit-scrollbar {
        display: none;
      }
}
#logo
{
   display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    position: absolute;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "comicBlock";
    font-size: 20vw;
    z-index: 9999;
    color:#fff;
    background-color: #111111;
    mix-blend-mode: multiply;
}
.bgOtaku{
    background-image: url("images/background.png");
    height: 100vh;
    width: 100vw;
    z-index: 9998;
    position: absolute;
    opacity: 0.5;
}
.bgOtaku2{
    height: 100vh;
    width: 100vw;
    z-index: 9997;
    position: absolute;
    background-color: #111111;
}
.infoclub p{
    font-size: 30px;
    color: #fff;
    font-family: 'Gotham';
    text-align: center;
    padding: 50px;
    padding-bottom: 0%;
    margin:0px;
}
.logonav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4vw;
    font-size: 64px;
    padding-left: 20px;
    color: #fff;
    transition: 0.4s;
    align-items: right;
    font-family: "comicBlock";
}
.Content{
    flex:1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
}
.heh{
    position :fixed;
    top: 0;
    left: 0;
    width: 100%;
    background:rgba(0,0,0,.7);
    backdrop-filter: blur(5px);
    height:100px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4vw;
    font-size: 4vw;
    color: #fff;
    /* background:rgba(0,0,0,.7);
    backdrop-filter: blur(5px); */
    transition: 0.4s;
    align-items: right;
    padding: 20px;
    padding-bottom:50px;
    z-index: 99;
    font-family: "comicBlock";
}
.navbar div{
    z-index:99;
    font-family: 'Futura';
    font-size: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:4vw;
    padding-right: 20px;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        color:#ff90fb;
    }
}
svg{
    margin-left: auto;
    visibility: hidden;
}
.sidebar2{
    display: none;
    visibility: hidden;
    position: absolute;
}
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    padding: 20px;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: "";
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: "";
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
  
    .menu {
      position: absolute;
      top: 0;
      margin-top: 100px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .sidebar2{
        position: relative;
        visibility: visible;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
  
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
.sidebar2 a{
    text-decoration: none;
    color: #fff;
    &:hover{
        color:#ff90fb;
    }
    
}
.polygon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-52 {
    font-size: 32px;
    letter-spacing: 1px;
    padding: 23px 75px 23px;
    outline: 0;
    color:white;
    border: 0px solid black;
    cursor: pointer;
    position: relative;
    background-color:#435cda;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    align-items: center;
    justify-content: center;
    font-family: 'Futura';
  }
  
  .button-52:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    outline: none;
    border: 0px solid transparent;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition: 0.2s;
  }
  
  .button-52:hover:after {
    top: 7px;
    left: 7px;
  }
  .theTeam{
    background-color:#f86bf2;
    &::after{
        background-color: #435cda;
    }
  }
  .Events{
    background-color:#435cda;
    &::after{
        background-color: #f86bf2;
    }
  }
  .infoclub{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vw;
  }
  .whoarewe,.whatarewe{
    margin: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    color: #fff;
    font-family:  'Gotham';
    font-size: 30px;
  }
  .whoarewe h1{
    font-weight:50;
    font-size: 48px;
    margin: 0%;
    letter-spacing: 1px;
    font-family: 'Futura';
  }
    .whoarewe p{
        font-size: 24px;
        letter-spacing: 1px;
        width:1000px;
        text-align: center;
    }
    .whatarewe h1{
        font-weight:50;
        font-size: 48px;
        margin: 0%;
    letter-spacing: 1px;
    font-family: 'Futura';
  }
    .whatarewe p{
        font-size: 24px;
        letter-spacing: 1px;
        width:800px;
        text-align: center;
    }
.theLore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 2vw; */
    flex:1;
    color: #fff;
    font-family: 'Futura';
}
.theLore h1{
    margin-top: 100px;
    font-weight: 50;
    font-size: 48px;
    margin-bottom: 0%;
    letter-spacing: 1px;
}
.carousel{
    display: flex;
    flex-direction: row;
    margin: 20px;
    color: #fff;
    overflow: hidden;
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.scroll-container { 
    margin-left: 40px;
    width: 100%;
    display: flex;
    height: 600px;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
      }
  }
.loreItem{
    flex:0 0 auto;
    display: flex;
    flex-direction: column;
    border:2px solid #fff;
    margin: 20px;
    margin-right: 0px;
    border-radius: 10px;
    height: 513px;
    width: 590px;
    gap:30px;
}
.loreItem h3{
    font-size: 32px;
    align-items: right;
    font-weight: 50;
    margin: 20px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    text-align: right;
}
.loreItem p{
    font-size: 20px;
    font-family: 'Gotham';
    display: flex;
    flex:1;
    word-wrap: break-word;
    margin: 20px;
    margin-top: 0px;
    letter-spacing: 1px;
    text-align: center;
 }
 .loreItem img{
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.chooseyourhero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex:1;
    color: #fff;
    font-family:  'futura';
}
.chooseyourhero h1{
    font-size: 48px;
    font-weight: 50;
    margin-bottom: 0%;
    letter-spacing: 1px;
}
.galleryppl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.img__wrap {
    position: relative;
    height: auto;
    width: auto;
  }
  
  .img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
    right: 0;
    background: rgb(255, 255, 255);
    color: #fff;
    visibility: hidden;
    opacity: 0;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }
  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    height: 600px;
    width: 25vw;
    display: grid;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #111111;
    color: white;
    transform: rotateY(180deg);
  }
.join{
    display: flex;
    flex:1;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px   ;
}
.join svg{
    visibility: visible;
    display: flex;
    margin: 0;
    height: 48px;
    width: 48px;
}
.beUpdated{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-size: 48px;
    flex:1;
    color: #fff;
    font-family:  'futura';
}
.BlogItem{
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    
    flex:1;
    color: #fff;
    font-family:  'futura';
}
.BlogItem{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family:  'futura';
}
.BlogItem h1{
    font-size: 32px;
    font-weight: 50;
}
.BlogItem p{
    font-size: 20px;
    font-family: 'Gotham';
    display: flex;
    flex:1;
    width: 75%;
    word-wrap: break-word;
    margin-top: 0px;
    letter-spacing: 1px;
 }
hr{
    width: 80%;
    border: 1px solid #fff;
    margin: 20px;
    margin-left: 10vw;
}
@font-face {
    font-family: 'comicBlock';
    src: url(Fonts/comic-block/Comic\ Block\ \ DEMO\ by\ Marta\ van\ Eck.ttf);
}
@font-face {
    font-family: 'Gotham';
    src: url(Fonts/GothamLight/GothamLight.otf);
}
@font-face {
    font-family: 'Futura';
    src: url(Fonts/Futura/Futura\ Medium/Futura\ Medium.otf);
}
@media (max-width: 800px) {
    *{
        font-size: 60px;
    }
    html, body{
        width:100%;
        overflow-x:hidden;
        }
        .bgOtaku2{
            height: 150vh;
            width: 100vw;
            z-index: 9997;
            position: absolute;
            background-color: #090909;
        }
    .flip-card {
        height: 550px;
        width: 100vw;
        display: grid;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
      }
    .navbar {
      visibility: hidden;
      display: none;
    }
    .sidebar2{
        visibility: visible;
        font-size: 60px;
        z-index: 99;
    }
    svg{
        visibility: visible;
    }
    .Content{
        grid-template-columns: 1fr;
        grid-row-gap:50px ;
    }
    .polygon img {
        width: 80%;
        height: 100%;
    }
    .galleryppl{
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .whoarewe p{
        margin: 20px;
        width: 400px;
        text-align: center;
    }
    .whoarewe h1{
        font-size: 40px;
    }
    .whatarewe h1{
        font-size: 40px;
    }
    .whatarewe p{
        margin: 20px;
        width: 400px;
        text-align: center;
    }
    .theLore h1{
        font-size: 40px;
    }
    .loreItem{
        width: 400px;
        height: 400px;
    }
    .loreItem h3{
        font-size: 24px;
    }
    .loreItem p{
        font-size: 20px;
    }
    .chooseyourhero h1{
        font-size: 40px;
    }
    .join{
        justify-content: space-around;
        width: 100vw;
        gap:0px;
    }
  }